<div id="profile-form" class="col-md-10 col-md-offset-1">
<h2>Profile</h2>
<form>
<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist" id="myTab">
    {{#each info in section_info}}
      <li role="presentation"><a {{bind-attr href=info.dom_href}} {{bind-attr aria-controls=info.dom_id}} role="tab" data-toggle="tab">{{info.title}}</a></li>
    {{/each}}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    {{#each info in section_info}}
    <div role="tabpanel" class="tab-pane" {{bind-attr id=info.dom_id}}>
      {{#each info.fields}}
        {{profile-field question=question response=response.text action="editedField"}}
      {{/each}}
    </div>
    {{/each}}
  </div>

</div>
<button class='save-changes btn btn-primary pull-right' type="submit" {{action 'saveChanges'}}>Save Changes</button>
</form>
</div>