<label for={{dom_id}}>{{question.text}}</label>
{{#if has_help}}
<span id={{help_id}} class="help-block">{{question.description}}</span>
{{/if}}

{{component entry_type dom_id=dom_id help_id=help_id value=response.text action="onEdited"}}
