<h2>News & Needs</h2>
<div class="col-md-offset-2 col-md-8">
  <form>
    <div>
      {{textarea class='new-post' value=new_content placeholder="What's up with you?"}}
    </div>
    <button class='add-post' type="submit" {{action 'create'}}>Post Update</button>
  </form>

  <ul class="recent-news">
    {{#each item in controller}}
      <li class="news-item">
        <div class='newsitem-avatar pull-left'>
          <img src={{item.profileImageUrl}}>
        </div>
        <div class='newsitem-content'>
          <div class='newsitem-header'>
            {{link-to item.user.fullname 'user.profile' item.user}} posted an update {{item.timeSincePosted}}
          </div>
          <div class='newsitem-text'>{{item.text}}</div>
        </div>
        <div class='newsitem-footer'></div>
      </li>
    {{/each}}
  </ul>
</div>