<h2>Create an Account</h2>
<p>Registering for this site is easy, just fill in the fields below and we'll get a new account set up for you in no time.</p>
{{input class='username-field' value=username placeholder='User name'}}
{{input class='email-field' value=email placeholder='Email'}}
{{input class='password-field' type='password' value=password placeholder='Password'}}
{{input class='confirm-field' type='password' value=confirm placeholder='Confirm password'}}
{{input class='fullname-field' value=fullname placeholder='Full name'}}
<button class='register' type="submit" {{action 'register'}}>Complete Sign Up</button>
